html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 10px;
}

#insert-placeholder {
  margin-bottom: 30px;
}

#lang-select-label {
  font-size: large;
}

#categories, #blacklist {
  margin-top: 15px;
}

#categories-legend, #blacklist-legend {
  font-size: large;
}

#categories-container {
  margin-top: 15px;
  padding-left: 20px;
  display: none;
}

#text-search-label {
  display: block;
  margin-top: 15px;
  font-size: large;
}

#text-search {
  width: 97%;
}

#query-joke {
  margin-top: 30px;
}

#error-container {
  margin-top: 15px;
  padding: 10px 0 10px 0;
  display: none;
  font-size: large;
  color: #ffffff;
  width: 100%;
  text-align: center;
  background-color: rgb(245, 120, 120, 0.8);
}

#success-container {
  margin-top: 15px;
  padding: 10px 0 10px 0;
  display: none;
  font-size: large;
  color: #ffffff;
  width: 100%;
  text-align: center;
  background-color: rgba(117, 216, 117, 0.8);
}
